<!DOCTYPE html>
<html lang="zh-Hant">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>公然侮辱量刑預測系統</title>
		<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
		<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
		<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
		<style>
			@import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);

			body {
				font-family: ‘cwTeXFangSong’, serif !important;
				background: #f6f6f6;
			}

			.bg-white {
				background: #ffffff;
			}
			
			h1 a {
				text-decoration:none;
				color: #fff;
			}
			h1 a:visited {
				text-decoration:none;
				color: #fff;
			}
			h1 a:hover {
				text-decoration:none;
				color: #fff;
			}
			h1 a:active {
				text-decoration:none;
				color: #fff;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<div class="columns">
				<div class="column col-6 col-md-10 col-mx-auto bg-white">

					<div class="hero hero-sm bg-primary">
						<div class="hero-body">
							<h1><a href="/">公然侮辱量刑預測系統</a></h1>
							<i>Authors: 我愛蟹堡王團隊</i>
							<br />
							<i>Source: <a class="text-light" href="https://gitlab.com/willypillow/insults.fyi">https://gitlab.com/willypillow/insults.fyi</a></i>
						</div>
					</div>

					<h2 class="mt-2">預測結果</h2>

					<p>反白文字乃偵測到之具應罰性字眼，可將游標移至該文字上以獲取更多資訊。</p>

					<h3 class="mt-2">輸入文字</h3>
					<div>
						{{ text | safe }}
					</div>

					<div class="hero hero-sm bg-secondary m-2">
						<h3 class="mt-2 text-center">預測金額：{{ amount }} 元</h3>
						<span class="text-center">或</span>
						<h3 class="mt-2 text-center">拘役：{{ detention }} 天</h3>
						<div class="text-center">
							{{ comment }}
						</div>
					</div>

				</div>
			</div>
		</div>
	</body>
</html>
